* {
    margin: 0;
    padding: 0;
    font-family: 'Mouse Memoirs', 'Yekan', sans-serif;
}

#inp {
    position: sticky;
    top: 1rem;
}

.inputs {
    background-color: #bdc3c7;
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: center;
    width: fit-content;
    height: 10%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 5rem;
}

.inps {
    margin: auto 1rem;
    padding: .75rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 5rem;
}

#text-in {
    width: 40rem;
}

#add-in {
    width: 7rem;
    font-weight: bold;
    background-color: white;
}

#list {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-flow: column;
}

.do {
    border: solid #bdc3c7;
    border-radius: 2rem;
    padding: .75rem;
    margin: .25rem;
    font-size: 1.5rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-flow: row;
}

.delete {
    margin: auto;
}

@media(max-width:700px) {
    .inps{
        margin: auto .5rem;
        font-size: 1.1rem;
    }
    .do{
        font-size: 1.25rem;
    }
}

@media (max-width:900px) {
    .inputs {
        width: 90%;
    }
}